@import 'mixins';
@import 'variables';


.exel__toolbar{
  position: absolute;
  height: $toolbar-height;
  left: 0;
  right: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  top:$header-height ;
  padding: 7px 10px;
  display: flex;

   .button {
    @include  button(green)
  }

}